/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class^=col] {
    background-color: hotpink;
    height: 200px;
    border: 2px solid black;
    text-align: center;
    line-height: 200px;
}

.row .row {
    margin: 20px;
}

.row .row > [class^=col] {
    background-color: brown;
    height: calc(200px - 40px);
    line-height: calc(200px - 40px);
    border: 2px solid white;