/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class^=col] {
    background-color: rgb(255, 47, 151);
    height: 200px;
    border: 2px solid black;
    text-align: center;
    position: relative;
    /* line-height: 200px; */
}

.row .row {
    margin: 20px;
}

.row .row > [class^=col] {
    background-color: rgb(68, 121, 47);
    height: calc(200px - 40px);
    /* line-height: calc(200px - 40px); */
    border: 2px solid white;
}